<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Django App
    {% endblock %}
  </title>
  <script src="{% static 'js/prism.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  {% block style %}
  {% endblock %}
</head>
<body>
  <header>
    <a href="{% url 'instructors:instructors_home' %}"><h1 class="logo">CodeBilingual</h1></a>
    <nav class="navigation">
      <a href="{% url 'instructors:instructors_home' %}">Home</a>
      <a href="{% url 'instructors:cpp_dashboard' %}">C++</a>
      <a href="{% url 'instructors:py_dashboard' %}">Python</a>
      <a href="{% url 'users:logout' %}">Logout</a>
    </nav>
  </header>
  <main>
    {% block content %}
      
    {% endblock %}
  </main>
  <footer>
    <div class="footer-container">
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2024 CodeBilingual. All rights reserved.</p>
      </div>
    </div>
  </footer>
</body>
</html>