{% extends 'instructors/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  C++ Scores
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/instructors/instructors_home.css' %}">  
  <link rel="stylesheet" href="{% static 'css/instructors/dashboard.css' %}">  
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="secondary-container">
    <div class="container">
      <h1>CPP Quiz Scoresheet</h1>
      <div class="table-container">
        <table border="1">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Full Name</th>
              {% for cpp_quiz_title in all_cpp_quiz_titles %}
                <th>{{ cpp_quiz_title }}</th>
              {% endfor %}
              <th>Average Score</th>
            </tr>
          </thead>
          <tbody>
            {% for student in cpp_students %}
              <tr>
                <td>{{ student.user_id }}</td>
                <td>{{ student.full_name }}</td>
                {% for cpp_quiz_title in all_cpp_quiz_titles %}
                  <td>{{ student.quiz_scores|dict_lookup:cpp_quiz_title|default:"N/A"|floatformat:"1" }}</td>
                {% endfor %}
                <td>{{ student.average_score|floatformat:"1" }}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>      
      </div>
    </div>
  </div>
</div>
{% endblock %}