<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Django App
    {% endblock %}
  </title>
  <script src="" defer></script>
  {% block style %}
    <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
  {% endblock %}
</head>
<body>
  <header>
    {% block headimage %}
      
    {% endblock %}
    <a href="/"><h2 class="logo">CodeBilingual</h2></a>
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="{% url 'users:logout' %}">Logout</a>
    </nav>
  </header>
  <main>
    {% block content %}
      
    {% endblock %}
  </main>
  <footer>
    <div class="footer-container">
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2024 CodeBilingual. All rights reserved.</p>
      </div>
    </div>
  </footer>
</body>
</html>