* {
  font-family: 'Poppins'
}

.main-container{
  min-height: 100vh;
}

.secondary-container{
  min-height: 100vh;
  padding-bottom: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1{
  color: white;
  text-align: center;
  margin-bottom: 100px;
}

.table-container{
  margin-top: -40px;
}

.table-container table {
  width: 90%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;  
}
.table-container table th, td {
  padding: 8px 25px;
  text-align: center;
  text-wrap: nowrap;
  border: none;
  background-color: white;
}
.table-container table th {
  background-color: rgb(245, 245, 245);
}