@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;700&display=swap');

.main-container {
  background: url(../../../img/bgsamp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.secondary-container {
  background-color: rgba(0, 0, 0, 0.2);
}

.back-container {
  display: flex;
  padding: 15px 20px;
  padding-bottom: 0px;
  font-size: 25px;
}

.back-container i {
  cursor: pointer;
  transition: color 0.8s ease;
  color: black;
}

.back-container i:hover {
  color: rgb(85, 39, 223);
}

.back-container i:active {
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 80px;
  margin-bottom: 90px;
}

.container h1 {
  font-family: 'Poppins';
  font-size: 28px;
}

.container p {
  font-family: 'Open Sans';
  font-size: 16px;
}

.lesson-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 5px solid rgb(108, 108, 108);
  margin: 40px;
  border-radius: 20px;
  width: 80%;
  background-color: white;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.title-container {
  border-bottom: 5px solid rgb(108, 108, 108);
  text-align: center;
  padding: 20px 0;
  padding-top: 0px;
}

.title-container h1 {
  font-size: 35px;
}

.p-desc-container {
  padding: 0 35px;
  margin-top: 35px;
}

.second-container,
.third-container {
  padding: 0 35px;
  margin-top: 25px;
}

.second-container h1, 
.third-container h1 {
  font-size: 26px;
}

.second-container p,
.third-container p {
  margin-top: 13px;
  line-height: 24px;
}

.second-container pre,
.third-container pre {
  border-radius: 5px;
  border: 2px solid rgb(155, 155, 155);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.492);
  margin-bottom: 20px;
}

.third-container {
  margin-bottom: 10px;
}

.third-container .note {
  margin-top: 20px;
  margin-bottom: 0px;
}

.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-holder button{
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  border: none;
  background-color: #6f2da8d1;
  cursor: pointer;
  transition: transform 0.2 ease;
  margin-top: 20px;
}

.button-holder button:hover {
  opacity: .8;
}

.button-holder button:active {
  transform: scale(.98);
}

/* List Styless */

.second-container ul {
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 10px 20px;
}

.second-container ol {
  font-family: 'Open Sans';
  padding: 0px 40px;
}

.second-container p {
  margin-bottom: 10px;
}

.second-container li p {
  font-size: 15px;
  margin: 0;
}

.second-container ol li{
  margin-bottom: 13px;
}

.second-container ol li h3 {
  margin-top: 20px;
}
.table-container {
  margin-bottom: 20px;
}

.p-desc-container ol {
  font-family: 'Open Sans';
  padding: 0 40px;
  font-size: 15px;
  margin-top: 15px;
}

.p-desc-container ol li {
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px black;
  font-family: 'Open Sans';
  font-size: 15px;
  margin-top: 15px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #272727;
  color: white;
}

.second-container .language- {
  margin-top: 20px;
}